@charset "UTF-8";

/* 全体 */
html {
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

body {
    color: #131313;
    font-family: "Helvetica", "Noto Sans JP", sans-serif;
    line-height: 1.6;
}

ul,li {
    list-style: none
}

a {
    color: #131313;
    text-decoration: none;
}

/* 共通 */
/* --背景 */
.container-bg {
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
}

.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

/* --ボタン(リンク) */
.btn-link img {
    height: 20px;
}

/* --ボタン(more) */
.btn-more_wrapper {
    margin-top: 24px;
}

.btn-more_wrapper > .btn-more {
    border-bottom: 5px solid #131313;
    font-size: 24px;
    padding-bottom: 16px;
    transition: padding-bottom 0.2s, margin-bottom 0.2s;
}

.btn-more:hover {
    padding-bottom: 8px;
}

/* --ボタン(ABOUT-more) */
.btn_about {
    margin-top: 24px;
    text-align: center;
}

.btn_about > .btn-more {
    border-bottom: 5px solid #131313;
    font-size: 24px;
    padding-bottom: 16px;
    transition: padding-bottom 0.2s, margin-bottom 0.2s;
}

.btn-more:hover {
    padding-bottom: 8px;
}

@media screen and (max-width: 600px) {
    .btn-more_wrapper > .btn-more,
    .btn_about > .btn-more {
        font-size: 16px;
    }
}

/* --タイトル */
.title {
    display: block;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 24px;
        padding-top: 48px;
    }
}

/* ヘッダー */
.header {
    width: 100%;
    position: fixed;
    z-index: 999;
}

.header-container {
    display: flex;
    align-items: center;
}

/* --ロゴエリア */
.logo_header img {
    height: 60px;
    margin: 16px;
}

/* --ハンバーガー */
.hamburger-menu {
    display: none;
}

/* --ナビエリア */
.nav-area_header {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.nav-list {
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.nav-list li+li {
    margin-left: 16px;
}

.nav-item {
    font-size: 16px;
}

/* SP */
@media screen and (max-width: 600px) {
    .header-container {
        display: block;
        position: relative;
    }
    /* ロゴ */
    .logo-area_header {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 101;
    }

    /* ハンバーガー */
    .hamburger-menu {
        display: block;
        width: 60px;
        height: 60px;
        position: relative;
        top: 16px;
        right: 16px;
        border: none;
        background: transparent;
        appearance: none;
        padding: 0;
        margin-left: auto;
        margin-right: 16px;
        cursor: pointer;
        z-index: 101;
    }

    .hamburger-menu__bar {
        display: inline-block;
        width: 50%;
        height: 2px;
        background: #242424;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: .5s;
    }

    .hamburger-menu__bar:first-child {
        top: 16px;
    }
    .hamburger-menu__bar:nth-child(2) {
        top: 24px;
    }
    .hamburger-menu__bar:last-child {
        top: 32px;
    }
    .hamburger-menu--open .hamburger-menu__bar {
        top: 50%;
    }

    .hamburger-menu--open .hamburger-menu__bar:first-child {
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }
    .hamburger-menu--open .hamburger-menu__bar:last-child {
        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    }
    .hamburger-menu--open .hamburger-menu__bar:nth-child(2) {
        display: none;
    }

    /* ナビ */
    .nav-area_header  {
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        line-height: 1.8;
        background-color: #FBFED2;
        z-index: 100;
        display: none;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        margin-right: 0;
        margin-bottom: 24px;
    }

    .nav-list li+li {
        margin-left: 0;
    }

    .nav-item a {
        font-size: 32px;
    }

    .link_nav-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-right: 0;
    }

    .btn-link {
        margin: 12px;
    }
    
}

/* メインビジュアル--イメージ 木 */
.img_top-view img {
    display: block;
    position: relative;
    width: 50%;
    max-width: 784px;
    margin: 0 auto;
    padding-top: 48px;
    z-index: 10;
}

@media screen and (max-width: 600px) {
    .img_top-view img {
        padding-top: 24px;
    }
}

/* ハロー--背景 */
.img_top-view::after{
    content: "HELLO";
    position: absolute;
    top: 10%;
    left: 0;
    color: #FBFED2;
    font-size: 29vw;
    font-weight: bold;
    text-align: center;
    z-index: -10;
}

@media screen and (max-width: 600px) {
    .img_top-view::after{
        top: 5%;
    }
}
    


/* ABOUT--背景 */
.about-yellow {
    position: relative;
    width: 100%;
    overflow: hidden;
    top: -70px;
}

@media screen and (max-width: 600px) {
    .about-yellow {
        top: -32px;
    }
}

.inner-yellow {
    text-align: center;
    background-color: #FBFED2;
    position: relative;
    width: 150vw;
    height: 100%;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%) scale(1);
    padding: 150px 0;
    z-index: 1;
}

.inner-yellow-skills {
    text-align: center;
    background-color: #FBFED2;
    position: relative;
    width: 150vw;
    height: 100%;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%) scale(1);
    padding: 150px 0;
    z-index: 1;
}

@media screen and (max-width: 600px) {
    .inner-yellow {
        width: 160vw;
        height: 80vh;
        padding: 16px 0;
    }

    .inner-yellow-skills {
        width: 190vw;
        height: 116vh;
        padding: 40px 0;
    }


}


/* --氏名 */
.name_about {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.jp-name_about {
    font-size: 24px;
    line-height: 1;
}

.en-name_about {
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    .text-area {
        margin: 0 auto;
        width: 62%;
    }
    .name_about {
        margin-top: 16px;
    }
    .jp-name_about {
        font-size: 18px;
    }
    .en-name_about {
        font-size: 16px;
    }
}

/* --自己紹介 */
.introduction_about {
    font-size: 16px;
    margin-top: 16px;
}

@media screen and (max-width: 600px) {
    .introduction_about {
        margin: 16px;
    }
}


/* 写真ループエリア */
.loop_container {
    position: relative;
    padding: 70px;
    display: flex;
    overflow: hidden;
    text-align: center;
    z-index: 0;
}

.box_loop {
    display: flex;
    animation: loop-list 50s linear infinite;
}

.item_loop img {
    width: 120px;
    height: 100%;
    margin: 8px;
    border-radius: 8%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.item_loop p {
    font-size: 13px;
    line-height: 1;
}


@keyframes loop-list {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.loop_container:hover .box_loop {
    animation-play-state: paused;
}

@media screen and (max-width: 600px) {
    .item_loop img {
        width: 100px;
    }
    .loop_container {
        padding: 30px 0 60px 0;
    }
    .item_loop p {
        font-size: 12px;
    }
}

/* ALL_WORKS-FOOTER */
.all-works {
    position: relative;
    top: -250px;
}

.all-skills-contact {
    position: relative;
    top: -400px;
}

@media screen and (max-width: 768px) {
    .all-skills-contact {
        top: -100px;
    }    
}

/* WORKS-WEB green */
.green {
    position: relative;
    background-color: #DFFCED;
    padding-top: 29%;
    z-index: 0;
}

@media screen and (max-width: 768px) {
    .green {
        top: 30px;
        padding: 40% 0;
    }
}

/* flexエリア */
.flex_works {
    display: flex;
    justify-content: space-evenly;
    margin: 6% 0;
}

.contents_description-web {
    display: flex;
    margin-bottom: 40px;
}

.contents_description-banner {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
}

.text-wrapper_description-web {
    width: 44%;
}

.contents_description-web,.slider {
    height: 40%;
}

.contents_description-banner,.banner {
    height: 28%;
}

@media screen and (max-width: 768px) {
    .contents_description-web,.contents_description-banner {
        flex-direction: column-reverse;
        justify-content: center;
        align-content: center;
    }
    .contents_description-web,.slider {
        height: 50%;
    }
    .text-wrapper_description-web {
        width: 80%;
        margin: 0 auto;
    }
    .btn-more_wrapper, .works {
        text-align: center;
    }
}


@media screen and (max-width: 600px) {
    .flex_works {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
}

/* サイドタイトルエリア */
.side-title_wrapper {
    position: relative;
}

.side-title {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 64px;
    font-weight: bold;
    margin: 16px;
    height: 100%;
    text-align: start;
}

.side-title,.side-green {
    color: #9DB3A7;
}

.circle-web_side-title img {
    margin-top: -24px;
}

.circle-web_side-title {
    position: absolute;
    top: -6%;
    left: -80%;
    width: 260px;
    opacity: 0.5;
    animation: linear circle_rotate 30s infinite;
}

.circle-banner_side-title img {
    margin-top: 8px;
}

.circle-banner_side-title {
    position: absolute;
    top: -6%;
    left: -80%;
    width: 260px;
    opacity: 0.5;
    animation: linear circle_rotate 30s infinite;
}

@keyframes circle_rotate {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
}

@media screen and (max-width: 600px) {
    .circle-web_side-title {
        top: -18%;
        left: 16%;
        width: 236px;
    }
    .circle-banner_side-title {
        top: -24%;
        left: 16%;
        width: 236px;
    }
    .side-title {
        font-size: 48px;
        margin: 0 auto;
    }
    .side-title_wrapper {
        margin: 40px 0;
    }
    .circle-web_side-title img,
    .circle-banner_side-title img {
        margin-top: 0;
    }
}


/* テキストエリア */
.description_wrapper {
    width: 80%;
    margin: 16px;
    flex-shrink: 0;
}

.list_description {
    text-align: left;
}

.list_description th {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.3;
    margin-top: 16px;
}

.list_description td {
    font-size: 16px;
    text-indent: 1em;
    line-height: 1.6;
    margin-bottom: 24px;
}

@media screen and (max-width: 600px) {
    .side-title {
        height: auto;
    }
    .description_wrapper {
        width: 100%;
        margin: 0 auto;
    }
    .list_description th {
        font-size: 18px;
    }
}

/* ボタン */
.btn-more_wrapper,.works {
    text-align: right;
}

/* スライド画像 */
.slider_wrapper {
    width:50%;
    margin:16px auto;
    cursor: grab;
}

.slider img {
    width:100%;
    max-width: 320px;
    height:auto;
    border-radius: 8%;
    object-fit: cover;
    aspect-ratio: 4 / 3;
}

.slider .swipe-slide {
	transform: scale(0.6);
	transition: all 0.5s;
	opacity: 0.5;
}

.slider .swipe-slide.slick-center{
	transform: scale(1);
	opacity: 1;
}

@media screen and (max-width: 768px) {
    .slider_wrapper {
        width:90%;
        margin:0 auto;
        padding-right: 16px;
    }

}


/* 矢印 */
.slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    cursor: pointer;
    outline: none;
    border-top: 2px solid #131313;
    border-right: 2px solid #131313;
    height: 15px;
    width: 15px;
}

.slick-prev {
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {
    right: -1.5%;
    transform: rotate(45deg);
}

/* ドット */
.slick-dots {
    text-align:center;
	margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;
    height:8px;
    display:block;
    border-radius:50%;
    background:#D9D9D9;
}

.slick-dots .slick-active button{
    background:#131313;
}


/* WORKS-Banner blue */
.blue {
    position: relative;
    background-color: #E5FBFC;
    z-index: 1;
    padding-top: 16px;
    padding-bottom: 130px;
}

.side-title,.side-blue {
    color: #A2B2B3;
}

/* テキストエリア */
.list-banner {
    width: 40%;
}

@media screen and (max-width: 768px) {
    .list-banner {
        width: 70%;
        margin: 0 auto;
        padding-bottom: 32px;
    }
}

/* 画像エリア */
.banner_wrapper {
    width:40%;
    text-align: center;
}

.banner img {
    width: 72%;
}

@media screen and (max-width: 768px) {
    .banner_wrapper {
        width:80%;
        margin: 0 auto;
    }
}

/* SKILLs */
/* 背景 yellow */
.skills-yellow {
    position: relative;
    width: 100%;
    top: 240px;
    overflow: hidden;
}

.description_skills {
    margin-top: 64px;
}

.bird_skills-yellow {
    display: inline-block;
    width: 30%;
    position: absolute;
    top: 16%;
    left: 8%;
    z-index: 100;
}

.wood-left_skills-yellow {
    display: inline-block;
    width: 18%;
    position: absolute;
    top: 16%;
    right: 24%;
    z-index: 100;
}

.wood-right_skills-yellow {
    display: inline-block;
    width: 18%;
    position: absolute;
    top: 24%;
    right: 6%;
    z-index: 100;
}

@media screen and (max-width: 768px) {
    .skills-yellow {
        top: -100px;
    }
    .description_skills {
        margin-top: 24px;
    }
    .bird_skills-yellow {
        width: 32%;
        top: -10%;
        left: 8%;
    }
    .wood-left_skills-yellow {
        width: 20%;
        top: -11%;
        right: 20%;
    }
    
    .wood-right_skills-yellow {
        width: 20%;
        top: -5%;
        right: 3%;
    }
}

@media screen and (min-width: 1600px) {
    .bird_skills-yellow {
        top: 0;
    }
    .wood-left_skills-yellow {
        width: 16%;
        top: 8%;
    }
    .wood-right_skills-yellow {
        width: 16%;
        top: 16%;
    }
}

.skills-list {
    margin: 0 auto;
    padding: 0 24px;
}

.skills-list td {
    display: block;
    margin-bottom: 16px;
}

@media screen and (max-width: 1000px) {
    .skills-list {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .skills-list {
        width: 50%;
    }
}

/* CONTACT */
.contact-container {
    padding-top: 80px;
}
/* テキストエリア */
.text-area_contact {
    margin: 16px auto;
}

.text-area_contact p {
    font-size: 16px;
}

/* ボタン */
.contact_btn  {
    margin: 64px auto;
    text-align: center;
    width: 100%;
}

.contact_btn a {
    color: #FAF8F5;
    background-color: #333333;
    font-size: 16px;
    padding: 16px 10%;
    border-radius: 100px;
}

/* イラスト */
.contact-container::after {
    content: "";
    display: inline-block;
    width: 500px;
    height: 500px;
    background-image: url(../images/img_skill03.png);
    background-size: contain;
    vertical-align: middle;
}

@media screen and (max-width: 768px) {
    .contact-container::after {
        width: 300px;
        height: 300px;
    }
}

/* footer 点線 */
.footer {
    position: relative;
    border: 1px dashed #131313;
    margin: 0 calc(50% - 70vw);
    width: 140vw;
    height: 40%;
    border-radius: 50%;
    overflow: hidden;
    z-index: 0;
}

/* --ナビエリア */
.nav-area_footer {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
}

.nav-list_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
}

.nav-list_footer li+li {
    margin-left: 16px;
}

.nav-item_footer {
    font-size: 16px;
}

@media screen and (max-width: 600px) {
    .nav-area_footer {
        margin: 64px;
    }
    .nav-list_footer {
        margin-top: 8px;
    }
}

/* THANK YOU */
.area-thankyou_footer {
    text-align: center;
    width: 100%;
}

.thankyou_footer {
    position: relative;
    color: #FBFED2;
    font-size: 17vw;
    font-weight: bold;
}

/* ロゴ */
.logo-footer img {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 10%;
    z-index: 10;
}

@media screen and (max-width: 600px) {
    .logo-footer img {
        top: 57%;
    }
}

/* コピーライト */
.copyright {
    font-size: 12px;
    text-align: center;
    margin: 72px;
    z-index: 10;
}